### Union
- The union() method returns a new set with all items from both sets.

In [1]:
set1={'janie','antor','shihab'}
set2={1,5,7,3,4}
set3=set1.union(set2)
set3

{1, 3, 4, 5, 7, 'antor', 'janie', 'shihab'}

In [2]:
print(set3)

{1, 3, 4, 5, 7, 'antor', 'janie', 'shihab'}

In [3]:
set1={'janie','antor','shihab'}
set2={1,5,7,3,4}
set3=set1 | set2
set3

{1, 3, 4, 5, 7, 'antor', 'janie', 'shihab'}

- Join multiple set together

In [4]:
set1={'janie','antor','shihab'}
set2={1,5,7,3,4}
set3={'tiger','lion','monkey'}
set4={243,675,234}
set5=set1.union(set4,set3,set2)
set5

{1,
 234,
 243,
 3,
 4,
 5,
 675,
 7,
 'antor',
 'janie',
 'lion',
 'monkey',
 'shihab',
 'tiger'}

In [5]:
print(set5)

{1, 675, 3, 4, 5, 7, 234, 'monkey', 'antor', 243, 'janie', 'shihab', 'lion', 'tiger'}

In [6]:
set5=set4 | set1 | set3
print(set5)

{675, 234, 'monkey', 'antor', 243, 'janie', 'shihab', 'lion', 'tiger'}

- join a set and tuple

In [7]:
tuple1=(3,5,3,20)
set1={4,6,2}
mix=set1.union(tuple1)
mix

{2, 3, 4, 5, 6, 20}

In [12]:
set1={'janie','antor','shihab'}
set2={1,5,7,3,4}
set3={'tiger','lion','monkey'}
set4={243,675,234}
set5=set1.update(set4)
print(set5)

None

In [13]:
set5=set1.update(set3)
print(set5)

None

In [14]:
set1.update(set3)
set1

{234, 243, 675, 'antor', 'janie', 'lion', 'monkey', 'shihab', 'tiger'}

### Intersection
- Keep ONLY the duplicates

-The intersection() method will return a new set, that only contains the items that are present in both sets.
- can use the & operator instead of the intersection() method, and you will get the same result

In [17]:
set1={'faria','jahan','janie'}
set2={'rich','antor','biswas'}
set3=set1.intersection(set2)
set3

set()

In [18]:
set1={'faria','jahan','janie'}
set2={'rich','antor','biswas','jahan'}
set3=set1.intersection(set2)
set3

{'jahan'}

In [20]:
set1={'faria','jahan','janie','antor'}
set2={'rich','antor','biswas','jahan'}
set3=set1 & set2
set3

{'antor', 'jahan'}

In [21]:
set1 = {"apple", 1, "banana", 0, "cherry"}
set2 = {False, "google", "microsoft", "apple", True}

set3 = set1.intersection(set2)
print(set3)

{False, True, 'apple'}

### Difference
- The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [22]:
set1 = {"apple", 1, "banana", 0, "cherry"}
set2 = {False, "google", "microsoft", "apple", True}
set3=set1.difference(set2)
set3

{'banana', 'cherry'}

In [26]:
set1 = {"apple", 1, "banana", 0, "cherry",'jupyter'}
set2 = {False, "google", "microsoft", "apple", True}
set3=set1 - set2
set3

{'banana', 'cherry', 'jupyter'}

In [ ]:
### Symmetric_differen

In [27]:
set1 = {"apple", 1, "banana", 0, "cherry",'jupyter','vscode'}
set2 = {False, "google", "microsoft", "apple", True,1,'mango'}
set3=set1.symmetric_difference(set2)
set3

{'banana', 'cherry', 'google', 'jupyter', 'mango', 'microsoft', 'vscode'}